#Config

### Data Generation
# glob path to sensor data, recursive wildcards allowed
rgb_sensor_pool: /orange/ewhite/NeonData/*/DP3.30010.001/**/Camera/**/*.tif 
HSI_sensor_pool: /orange/ewhite/NeonData/*/DP3.30006.001/**/Reflectance/*.h5
CHM_pool: /orange/ewhite/NeonData/**/CanopyHeightModelGtif/*.tif
HSI_tif_dir: /orange/ewhite/b.weinstein/DeepTreeAttention/Hyperspectral_tifs/year/

### NEON data filtering
min_stem_diameter: 10

# Minimum number of test samples per class to be included
min_train_samples: 5
min_test_samples: 10
max_samples_per_class: 5000

# Iterations to search for the best train-test split that mantains the largest number of species. 
# Set to 1 for debugging, no files will be written
iterations: 2000

# Minimum CanopyModel height, leave blank to skip CHM filtering
min_CHM_height: 1
# Max difference between measured height and CHM height if CHM > height
max_CHM_diff: 10
# Max difference between measured height and CHM height if CHM < height
CHM_height_limit: 10

# Megaplot XY Data, these are .shp files saved as the siteID
megaplot_dir: /orange/idtrees-collab/megaplot/

#Checkout data artifact from comet
use_data_commit:
data_dir: /blue/ewhite/b.weinstein/DeepTreeAttention/
convert_h5: True

# Rerun DeepForest boxes
replace_bounding_boxes: True
# Regenerate bounding box sensor crops
replace_crops: True
# Recreate a train test split
train_test_commit:
# Use existing plotIDs for train/test split
existing_test_csv:
### Data loader Config
# Resized pixel size of the crowns. Square crops around each pixel of size x
image_size: 30
preload_images: True
preload_image_dict: True
workers: 0
taxonomic_csv: /home/b.weinstein/DeepTreeAttention/data/raw/families.csv

### Pre-Training Parameters
create_pretrain_model: True
pretrain_state_dict:
pretrain_epochs: 200

### Training Parameters
gpus: 1
batch_size: 24
bands: 349
head_class_minimum_ratio: 0.4
seperate_oak_model: False

# Learning rates
lr: 0.0001
lr_dominant_class: 0.000005
lr_conifer: 0.000005
lr_broadleaf: 0.00001
lr_oak: 0.00005
lr_flat: 0.001

fast_dev_run: False
accelerator: auto
epochs: 200
snapshot_dir: /blue/ewhite/b.weinstein/DeepTreeAttention/snapshots/

### Evaluation config
#Top k class recall score
top_k: 2
# Epoch frequency of validation
validation_interval: 1

# Predict config
predict_batch_size: 1028
dead_threshold: 0.95
prediction_crop_dir: /blue/ewhite/b.weinstein/DeepTreeAttention/results/crops/
DeepForest_workers: 0
DeepForest_preload: True
DeepForest_batch_size: 32

#Comet dashboard
comet_workspace: bw4sz

## Alive Dead Model Training
dead:
    train_dir: data/raw/dead_train/
    test_dir: data/raw/dead_test/
    epochs: 40
    lr: 0.0001
    savedir: /orange/idtrees-collab/DeepTreeAttention/Dead/snapshots/
    batch_size: 128
    num_workers: 0
