#Config

### Data Generation
#glob path to sensor data, recursive wildcards allowed
rgb_sensor_pool: /orange/ewhite/NeonData/*/DP3.30010.001/**/Camera/**/*.tif 
HSI_sensor_pool: /orange/ewhite/NeonData/*/DP3.30006.001/**/Reflectance/*.h5
CHM_pool: /orange/ewhite/NeonData/**/CanopyHeightModelGtif/*.tif
HSI_tif_dir: /orange/idtrees-collab/Hyperspectral_tifs/

#NEON data filtering
min_stem_diameter: 10
#Minimum number of test samples per class to be included
min_train_samples: 7
min_test_samples: 5
#Iterations to search for the best train-test split that mantains the largest number of species. Set to 1 for debugging, no files will be written
iterations: 4000
#minimum CHM height, leave blank to skip CHM filtering
min_CHM_height: 1
#Max difference between measured height and CHM height if CHM > height
max_CHM_diff: 4
#Max difference between measured height and CHM height if CHM < height
CHM_height_limit: 8

#Dead model filter
dead_model: /orange/idtrees-collab/DeepTreeAttention/Dead/snapshots/9192d967fa324eecb8cf2107e4673a00.pl
dead_threshold: 0.95

#Megaplot XY Data, these are .shp files saved as the siteID
megaplot_dir:

#Crop generation, whether to make a new dataset and customize which parts to recreate
#Make new dataset
regenerate: True
convert_h5: True
#Overwrite existing crops
replace: True
#Use existing plotIDs for train/test split
new_train_test_split: True
#Directoy to store cropped images from crowns
crop_dir: /blue/ewhite/b.weinstein/DeepTreeAttention/crops/
RGB_crop_dir: /blue/ewhite/b.weinstein/DeepTreeAttention/rgb_crops/

# Data loader
#resized Pixel size of the crowns. Square crops around each pixel of size x are used
image_size: 11
preload_images: True
workers: 0

#Network Parameters
gpus: 1
batch_size: 32
bands: 369
lr: 0.00005
fast_dev_run: False
accelerator: dp
epochs: 120

#Spatial smooth
#Distance radius to search
neighbor_buffer_size: 3
#degree of neighborhood effect (0-1)
neighborhood_strength: 0.1

#Evaluation config
#Top k class recall score
top_k: 4
#Number of individuals to plot in comet graphics tab
plot_n_individuals: 10

#Predict
predict_batch_size: 1024

#Comet dashboard
comet_workspace: bw4sz
