comet_ml
deepforest
descartes
geopandas
h5py
matplotlib
neonutilities
numpy
pandas
pytest
pytorch_lightning
PyYAML
rasterio
rasterstats
scikit_learn
setuptools
Shapely
skimage
torch
torchmetrics
torchvision
